# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build files
dist/
build/

# Dependency directories
bower_components/

# Database files
*.sqlite
*.sqlite3
*.db

# Cache files
.cache/
.next/
out/
coverage/
.nyc_output/
.vscode/
.DS_Store
Thumbs.db

# Misc
*.swp
*.swo
*.sublime-project
*.sublime-workspace
.idea/
*.iml
